body {
    margin: 0;
}

.top-border {
    margin: 10px;
    padding: 10px;
    border: solid black;
}

.green-square {
    width: 33%;
    height: 33vh;
    display: inline-block;
    margin: 0 80px;
    background: green;
}

.purple-square {
    width: 5%;
    height: 250px;
    display: inline-block;
    background: purple;
}

.blue-circle {
    width: 33vh;
    height: 33vh;
    border-radius: 50%;
    display: inline-block;
    background: blue;
}

.middle-border {
    margin: 10px;
    border: dotted black;
}

.shadow-box {
    height: 200px;
    width: 90vw;
    margin: 50px auto;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    background: tan;
}

.text {
    width: 100%;
    font-family: 'Franklin Gothic Medium';
    text-align: center;
    /* padding: 90px 10px; */
}

.invis-box {
    width: 40%;
    left: 100px;
    margin: 0 auto;
    padding: 90px 0;
    box-shadow: 10px 10px 32px -10px rgba(0,0,0,0.75);
    border: solid black;
}

.text-border {
    margin: 10px;
}